.dashboard-cards {
    button {
        cursor: pointer;
    }
    .cards {
        margin-top: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 25px;
    
    
        
        .card-title {
            display: flex;
            flex-direction: row;
            padding-left: 15px;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        .card-content {
            text-align: center;
        }
    }
}